<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
   <!---->
    <!--<bean id="bookService" class="com.aaa.spring.service.impl.BookServiceImpl"></bean>-->
   <!---->
    <!--<bean id="logAdvice" class="com.aaa.spring.advice.LogAdvice"></bean>-->


    <!--<aop:config>-->
        <!--<aop:pointcut id="p1" expression="execution(* com.aaa.spring.service.impl.*.save*(..))"></aop:pointcut>-->
        <!--<aop:aspect ref="logAdvice">-->
            <!--<aop:before pointcut-ref="p1" method="before"></aop:before>-->
            <!--<aop:after-returning pointcut-ref="p1" method="log"></aop:after-returning>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->
    <context:component-scan base-package="com.aaa.spring.service.impl,com.aaa.spring.advice"></context:component-scan>
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>
</beans>